body {
  background-image: url("images/concrete.png");
  font-weight: 600;
}

ul.main-nav {
  position:fixed;
}

.main-nav {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #3b3738;
    z-index: 1;
    padding-top: .35em;
    padding-bottom: .35em;
    list-style-type: none;
    width:100%;
} 


.nav li {
  margin:auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  margin-top:4.5em;
}


.section-heading {
  text-align: center;
}     

.eiffel {
  max-width: 98%;
  border-radius: 0.5em;
}

p {
  text-align: justify;
}

.footer {
  text-align: center;
}

/*------------------------blog-template.html-----------------*/

.container-blog {
  max-width: 800px; }

.older-posts {
    margin-top: 4em;
}   
      
.current-blog {
  margin-top:6.5em
}

.older {
  padding-left:5em;
}

/*-----------------------t3 design to web blog.html------------------*/
/*rotate 90 degrees*/
.rotate90 {
/*General*/
transform: rotate(90deg);
/*Firefox*/
-moz-transform: rotate(90deg);
/*Microsoft Internet Explorer*/
-ms-transform: rotate(90deg);
/*Chrome, Safari*/
-webkit-transform: rotate(90deg);
/*Opera*/
-o-transform: rotate(90deg);
margin-top: 3em;
margin-bottom: 3em;
}

/*------------------------alter opacity
opacity:0.4;
filter:alpha(opacity=40);
}
--------------------------------------*/

.topframes {
  margin-bottom: 2em;
}

.bottomframes {
  margin-top: 2em;
}