body {
  background-image: url("images/concrete.png");
  cover:100%;
  font-family: 'Slabo 27px', serif;
}

ul.main-nav {
  position:fixed;
}

.main-nav {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #3b3738;
    padding-top: .35em;
    padding-bottom: .35em;
    list-style-type: none;
    width:100%
} 


.nav li {
  margin:auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  margin-top:4.5em;
}


.section-heading {
  text-align: center;
}     

img {
  max-width: 98%;
  border-radius: 0.5em;
}

.footer {
  text-align: center;
}

/*------------------------blog-template.html-----------------*/

.container-blog {
  max-width: 800px; }

.older {
    margin-top:6.5em;
}   
      
.eight {
  margin-top:15%;
}